<a href="https://colab.research.google.com/github/Farhana-afrin/Python_Classwork/blob/main/Lecture_03_Python_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

In [ ]:
os.getcwd()

'C:\\Users\\ASUS'

In [ ]:
os.chdir("D:\Python_ML_EMK")

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_rows=100

Reading an excel file

In [ ]:
df=pd.read_excel("ODI_cricket.xlsx",sheet_name="batsman",engine="openpyxl")

In [ ]:
display(df.head(3))

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20,2016,195
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,1385,88
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,1231,162

From Lecture 02

In [ ]:
# renaming the column names
df = df.rename(columns={'Mat':'Match', 
                        'Inns':'Innings',
                        'NO': 'NotOut',
                        'HS': 'Highest_score',
                        'Ave': 'Average',
                        'BF': 'Balls_Faced',
                        'SR': 'Strike_Rate',
                        100: 'Centuries',
                        50: 'Half_centuries',
                        0: 'Ducks',
                        "4s": "Fours",
                        "6s": "Sixes"})

# splitting the 'Player' column to get the information about 'Country'
df[["Player_Name", "Country"]] = df['Player'].str.split("(", expand=True)

# dropping the 'Player' columns
df = df.drop('Player', axis=1)

# remove the ")" from the 'Country' column
df['Country'] = df['Country'].str.replace(")", "")

# rearrange the columns
new_col_sequence = ['Player_Name', 'Country', 'Span', 'Match', 'Innings', 'NotOut', 'Runs', 'Highest_score',
       'Average', 'Balls_Faced', 'Strike_Rate', 'Centuries', 'Half_centuries', 'Ducks', 'Fours', 'Sixes']
df = df[new_col_sequence]

display(df.head())

,Player_Name,Country,Span,Match,Innings,NotOut,Runs,Highest_score,Average,Balls_Faced,Strike_Rate,Centuries,Half_centuries,Ducks,Fours,Sixes
0,SR Tendulkar,INDIA,1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20,2016,195
1,KC Sangakkara,Asia/ICC/SL,2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,1385,88
2,RT Ponting,AUS/ICC,1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,1231,162
3,ST Jayasuriya,Asia/SL,1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,1500,270
4,DPMD Jayawardene,Asia/SL,1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,1119,76

How to create a column based on a condition or function?

In [ ]:
df['Country'].value_counts()

AUS               13
PAK                9
WI                 8
SA                 8
INDIA              8
SL                 6
NZ                 5
ZIM                5
Asia/SL            3
BAN                3
ENG                3
Asia/PAK           3
Asia/INDIA         3
AUS/ICC            3
Asia/ICC/INDIA     2
ICC/WI             2
Afr/SA             2
ENG/IRE            1
Afr/ICC/SA         1
ICC/NZ             1
Asia/ICC/PAK       1
Asia/ICC/SL        1
IRE                1
Name: Country, dtype: int64

#### Assumtion

In [ ]:
def icc_check(x):
    if "ICC" in x:
        return "Yes"
    else:
        return "No"

In [ ]:
def asia_check(x):
    if "Asia" in x:
        return "Yes"
    else:
        return "No"

In [ ]:
def africa_check(x):
    if "Afr" in x:
        return "Yes"
    else:
        return "No"

In [ ]:
#df['played_for_ICC']=df['Country'].apply(icc_check)
df['played_for_Asia']=df['Country'].apply(asia_check)
df['played_for_Africa']=df['Country'].apply(africa_check)
display(df.head(3))

,Player_Name,Country,Span,Match,Innings,NotOut,Runs,Highest_score,Average,Balls_Faced,Strike_Rate,Centuries,Half_centuries,Ducks,Fours,Sixes,played_for_Asia,played_for_Africa
0,SR Tendulkar,INDIA,1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20,2016,195,No,No
1,KC Sangakkara,Asia/ICC/SL,2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,1385,88,Yes,No
2,RT Ponting,AUS/ICC,1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,1231,162,No,No

In [ ]:
print(df['played_for_ICC'].value_counts())
print(df['played_for_Asia'].value_counts())
print(df['played_for_Africa'].value_counts())

KeyError: 'played_for_ICC'

In [ ]:
#df['Country'] = df['Country'].str.replace(")", "")
#df['Country'] = df['Country'].str.replace("/ICC","")
# df['Country']=df['Country'].str.replace("ICC/","")
# df['Country']=df['Country'].str.replace("Asia/","")
# df['Country']=df['Country'].str.replace("Afr/","")
# df['Country']=df['Country'].str.replace("/IRE","")
df['Country'].value_counts()

In [ ]:
# "/ICC","ICC/","Asia/","Afr/"

In [ ]:
display(df.head())

In [ ]:
df['start_year']=df['Span'].str[0:4]
df['end_year']=df['Span'].str[5:]
display(df.head())

In [ ]:
# df.info()

In [ ]:
#Splitting the 'Span' column based on the "-"
# df[['start_year','end_year']]=df['Span'].str.split("-",expand=True)
#df=df.drop("Span",axis=1)
display(df.head())

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player_Name        92 non-null     object
 1   Country            92 non-null     object
 2   Span               92 non-null     object
 3   Match              92 non-null     int64
 4   Innings            92 non-null     int64
 5   NotOut             92 non-null     int64
 6   Runs               92 non-null     int64
 7   Highest_score      92 non-null     object
 8   Average            92 non-null     float64
 9   Balls_Faced        92 non-null     int64
 10  Strike_Rate        92 non-null     float64
 11  Centuries          92 non-null     int64
 12  Half_centuries     92 non-null     int64
 13  Ducks              92 non-null     int64
 14  Fours              92 non-null     object
 15  Sixes              92 non-null     object
 16  played_for_Asia    92 non-null     object
 17  played_for_Africa  92 non-null     object
dtypes: float64(2), int64(8), object(8)
memory usage: 13.1+ KB

In [ ]:
df['start_year'] = df['start_year'].astype('int') 
# df['end_year'] = df['end_year'].astype('int')

# print(df.info())

KeyError: 'start_year'